.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6900;
  &-form-box {
  
    &-first-step {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30vw;
      height: 100vh;
    }
    &-article {
      &-area {
        width: 80vw;
        min-height: 100vh;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
    &-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  }
}